:root {
    --white-gray: #f0f1f8;
    --white-blue: #dadbe7;
    --middle-white-blue: #9497a7;
    --petrol-blue: #545871;
    --bricks: #EBD0CE;
    --pink-cream: #f1cfcd;
    --grey-cream: #e9dbda;
    --cream-white: #F7ECEB;
    --hot-cream: #faeceb;
}

* {
    box-sizing: border-box
}

html, body {
    background-color: var(--white-gray);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
