.pane {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    margin: 100px auto 0;
    z-index: 1;
}

@media (min-width: 1024px) {
    .pane {
        flex-direction: row
    }
}

.left-container {
    flex: 1;
    width: 100%;
    background-clip: var(--petrol-blue);
    padding: 50px 50px 350px 50px;
    background: center bottom var(--petrol-blue) url("./images/cat.png");
}

@media (min-width: 1024px) {
    .left-container {
        width: 33%;
    }
}

.right-container {
    flex: 1;
    background: var(--cream-white);
    position: relative;
    color: var(--petrol-blue);
}

.top-form-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.top-form-container h1 {
    font-size: 34px;
    font-weight: bold;
}

.bottom-button-wrapper {
    background: white;
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.bottom-button-wrapper button {
    background: transparent;
    padding: 12px 45px;
    border-radius: 50px;
    border: 1px solid var(--petrol-blue);
    color: var(--petrol-blue);
    text-transform: capitalize;
    font-size: 22px;
    margin-left: 80px;
}

@media (min-width: 1024px) {
    .right-container {
        flex: 2;
    }
}

form.login-form {
    display: flex;
    flex-direction: column;
}

input.radio-tab {
    position: absolute;
    left: -99999em;
    top: -99999em;
    opacity: 1;
    z-index: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first-row > div {
    width: 48%;
}

input.radio-tab + label {
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--bricks);
    text-transform: capitalize;
}

.first-row input.radio-tab + label {
    width: 50%;
}

.row-title, .start-date-label {
    margin-bottom: 10px;
}

.days-radio .flex-center-space-between input.radio-tab + label {
    width: calc(100% / 7);
    border: 1px solid var(--whitee);
    border-right: 0;
}

.daytime .flex-center-space-between input.radio-tab + label {
    width: calc(100% / 3);
    border: 1px solid var(--whitee);
    border-right: 0;
}

.textarea-row textarea {
    width: 100%;
    border: 0;
    resize: none;
}
