:root {
    --white-gray: #f0f1f8;
    --white-blue: #dadbe7;
    --middle-white-blue: #9497a7;
    --petrol-blue: #545871;
    --bricks: #c37e7b;
    --pink-cream: #f1cfcd;
    --grey-cream: #e9dbda;
    --hot-cream: #faeceb;
}

* {
    box-sizing: border-box
}

html, body {
    background-color: var(--white-gray);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pane {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    margin: 100px auto 0;
    z-index: 1;
}

@media (min-width: 1024px) {
    .pane {
        flex-direction: row
    }
}

.left-container {
    flex: 1;
    width: 100%;
    background-clip: var(--petrol-blue);
    padding: 50px 50px 350px 50px;
    background: center bottom var(--petrol-blue) url("./images/cat.png");
}

@media (min-width: 1024px) {
    .left-container {
        width: 33%;
    }
}

.right-container {
    flex: 1;
    background: var(--pink-cream);
    position: relative;
    color: var(--petrol-blue);
}

.top-form-container {
    padding: 50px;
    display: flex;
}

.top-form-container h1 {
    font-size: 34px;
    font-weight: bold;
}

.bottom-button-wrapper {
    background: white;
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.bottom-button-wrapper button {
    background: transparent;
    padding: 12px 45px;
    border-radius: 50px;
    border: 1px solid var(--petrol-blue);
    color: var(--petrol-blue);
    text-transform: capitalize;
    font-size: 22px;
    margin-left: 80px;
}

@media (min-width: 1024px) {
    .right-container {
        flex: 2;
    }
}
