:root {
    --input-height: 40px;
    --input-padding: 5px 0 5px 5px;
}

.pane {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    margin: 100px auto 0;
    z-index: 1;
}

@media (min-width: 1024px) {
    .pane {
        flex-direction: row
    }
}

.left-container {
    flex: 1;
    width: 100%;
    background-clip: var(--petrol-blue);
    padding: 50px 50px 350px 50px;
    background: center bottom var(--petrol-blue) url("./images/cat.png");
}

.left-container h3 {
    font-size: 28px;
}

@media (min-width: 1024px) {
    .left-container {
        width: 33%;
    }
}

.left-container .title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.left-container ul li {
    margin-bottom: 18px;
}

.right-container {
    flex: 1;
    background: var(--cream-white);
    position: relative;
    color: var(--petrol-blue);
}

.top-form-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.top-form-container h1 {
    font-size: 34px;
    font-weight: bold;

}

.bottom-button-wrapper {
    background: white;
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.bottom-button-wrapper button {
    background: transparent;
    padding: 12px 45px;
    border-radius: 50px;
    border: 1px solid var(--petrol-blue);
    color: var(--petrol-blue);
    text-transform: capitalize;
    font-size: 22px;
    margin-left: 80px;
    transition: all .5s ease-in-out;
}

.bottom-button-wrapper button:hover {
    background-color: var(--cream-white);
    border-color: transparent;
}

@media (min-width: 1024px) {
    .right-container {
        flex: 2;
    }
}

form.login-form {
    display: flex;
    flex-direction: column;
}

input.radio-tab {
    position: absolute;
    left: -99999em;
    top: -99999em;
    opacity: 1;
    z-index: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.first-row > div {
    width: 48%;
}

input.radio-tab + label {
    cursor: pointer;
    padding: 5px 10px;
    background-color: white;
    text-transform: capitalize;
    border-radius: 3px;
}

.first-row input.radio-tab + label {
    width: 50%;
    padding: var(--input-padding);
    height: var(--input-height);
}

.first-row input.radio-tab + label:last-child {
    padding-right: 5px;
}

.row-title, .start-date-label {
    margin-bottom: 15px;
}

input#start-date {
    height: var(--input-height);
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

.days-radio .flex-center-space-between input.radio-tab + label {
    width: calc(100% / 7);
    border-right: 0;
    height: var(--input-height);
    padding: var(--input-padding);
}

.days-radio .flex-center-space-between input.radio-tab + label:last-child {
    padding-right: 5px;
}

.daytime .flex-center-space-between input.radio-tab + label {
    width: calc(100% / 3);
    border-right: 0;
    height: var(--input-height);
    padding: var(--input-padding);
}

.daytime .flex-center-space-between input.radio-tab + label:last-child {
    padding-right: 5px;
}

label span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out;

}

label:hover span {
    background-color: var(--bricks);
}

.textarea-row textarea {
    width: 100%;
    border: 0;
    resize: none;
    padding-left: 8px;
    padding-top: 8px;
}

::-webkit-input-placeholder {
    color: var(--bricks);
}

::-moz-placeholder {
    color: var(--bricks);
}

:-ms-input-placeholder {
    color: var(--bricks);
}

:-moz-placeholder {
    color: var(--bricks);
}
