:root {
    --white-gray: #e3dcdc;
    --spanish-gray: #939393;
    --gray: #808080;
    --granite-gray: #676767;
    --orange: #fe5800;
    --filipine-orange: #ff7300;
    --navy-blue: #03017c;
    --dark-grey-color: rgba(0, 0, 0, .6);
}

* {
    box-sizing: border-box
}

html, body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    position: relative;
    padding-left: 0;
}

a.nav-element {
    position: relative;
    display: block;
    background: var(--spanish-gray);
    width: 64px;
    height: 42px;
    box-shadow: -16px 8px 0 #ddd;
    transition: all .3s ease-in-out;
}

a.nav-element:hover {
    background: var(--filipine-orange);
    box-shadow: -23px 18px 0 var(--spanish-gray);
    transform: translate(15px, -15px);
    transition: all .3s ease-in-out;
}

.nav-element:before, .nav-element:after {
    content: '';
    position: absolute;
    transition: all .3s ease-in-out;
    width: 8px;
}

a.nav-element:hover:before, a.nav-element:hover:after {
    transition: all .3s ease-in-out;
}

a.nav-element:before {
    height: 42px;
    background: grey;
    top: 4px;
    left: -8px;
    transform: skewY(-45deg);
}

a.nav-element:hover:before {
    width: 7px;
    background: var(--filipine-orange);
    top: 4px;
    left: -7px;
}

a.nav-element:after {
    height: 64px;
    background: grey;
    bottom: -35px;
    left: 24px;
    transform: rotate(90deg) skew(0, 45deg);
}
a.nav-element:hover:after{
    background: var(--filipine-orange);
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
}

.img-container img {
    max-width: 28px;
}
